.cart-container {
  padding: 0 50px;
  margin-bottom: 50px;
}
.img-color {
  border-radius: 50%;
  width: 50px;
}
.cart-top-wrap {
  display: flex;
  justify-content: center;
}
.cart-content-row {
  display: flex;
  justify-content: space-between;
}
.cart-top {
  height: 2px;
  width: 80%;
  background-color: rgb(223, 223, 223);
  display: flex;
  align-items: center;
  margin: 70px 0;
  justify-content: space-between;
}
.cart-top-item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
.cart-top-item i {
  color: #b3b3b3;
}
.cart-top-cart {
  border: 4px solid black;
}
.cart-top-cart i {
  color: black;
  font-size: 20px;
}
.cart-content-left {
  flex: 2;
  padding-right: 12px;
}
.cart-content-left table {
  width: 100%;
  text-align: center;
}
.cart-content-left table th {
  padding-bottom: 30px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: black;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
}
.cart-content-left table p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: black;
}
.cart-content-left table input {
  width: 40px;
}
.cart-content-left table span {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.cart-content-left table td {
  padding: 20px 0;
  border-bottom: 2px solid #dddddd;
}
.cart-content-left td:first-child img {
  width: 130px;
}
.cart-content-left td:nth-child(2) {
  max-width: 130px;
}
.cart-content-left td:nth-child(3) img {
  max-width: 130px;
}
.cart-content-right {
  flex: 1;
  padding-left: 12px;
  border-left: 2px solid #dddddd;
}
.cart-content-right table {
  width: 100%;
}
.cart-content-right th {
  padding-bottom: 30px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: black;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
}
.cart-content-right td {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: black;
  padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td {
  border-bottom: 2px solid #dddddd;
}
.cart-content-right tr td:last-child {
  text-align: right;
}
.cart-content-right-text {
  margin: 20px 0;
  text-align: center;
}
/* .cart-content-right-text p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
} */
.cart-content-right-text-button {
  text-align: center;
  align-items: center;
}
.cart-content-right-text-button button {
  padding: 0 18px;
  height: 35px;
  cursor: pointer;
}
.cart-content-right-text-button button:first-child {
  background-color: #ffff;
  border: 2px solid black;
  margin-right: 20px;
}
.cart-content-right-text-button button:first-child:hover {
  background-color: #ddd;
}
.cart-content-right-text-button button:last-child {
  background-color: black;
  color: #fff;
  border: none;
  border: 2px solid black;
}
.cart-content-right-text-button button:last-child:hover {
  background-color: #dddddd;
  color: black;
}
.cart-content-right-login {
  margin-top: 20px;
  text-align: center;
}
.cart-content-right-login p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: black;
  font-weight: bold;
}
.delete-cart {
  border: none;
  background-color: white;
  cursor: pointer;
}
